$color-primary-light: #c5fffd;
$color-primary-dark: #88d9e6;
$color-secondary: #eccbd9;
$color-background: #526760;
$color-background-dark: #374b4a;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;
