@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  background-color: $color-background;
  color: white;

  @include tablet {
    padding: 4rem;
  }

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    @include tablet {
      font-size: 4rem;
      text-align: left;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 2rem;

    @include desktop {
      flex-direction: row;
    }
  }

  &__text {
    margin: 1rem 0;
    text-align: center;
    font-size: .875rem;
    align-self: center;
    line-height: 2rem;

    @include tablet {
      margin: 2rem 0;
      font-size: 1rem;
    }

    @include desktop {
    padding-right: 4rem;
    }


    &--right {
      margin-left: auto;
      

      @include desktop {
        padding-left: 4rem;
        padding-right: 0;
      }
    }
  }

  &__img {
    width: 25rem;
    height: 16rem;
    border-radius: 1rem;
    align-self: center;
    margin-top: 1rem;

    @include tablet {
      width: 40rem;
      height: 27rem;
    }

    &--left {
      @include desktop {
        order: -1;
      }

      
    }
  }
}
