@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem; 
  background-color: $color-background-dark;
  color: white;

  @include tablet {
    flex-direction: row;
    height: 6rem;
    justify-content: space-around;
  }

  &__heading {
    font-size: 2rem;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin: 0 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid white;
    }

    @include tablet {
      margin: 0 0.5rem;
    }

    @include desktop {
      margin: 0 1.5rem;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
  }
}
